{% capture thumbnail %}{% assetImageUrl resource, 100, 768 %}{% endcapture %}
{% assign formatsCollection = formats | split: ", " %}

<div class="flex w-full">
  <div class="flex w-full flex-col overflow-hidden rounded bg-white shadow">
    <div
      class="
        bg-center bg-no-repeat bg-contain {{thumbnailBgClasses}}
        rounded-t
        aspect-w-16 aspect-h-9
      "
      style="background-image: url({{thumbnail}})"
    ></div>
    <div class="flex flex-auto flex-col">
      <p
        class="mb-4 p-4 text-center text-xl font-light uppercase tracking-wider"
      >
        {{title}}
      </p>

      <div class="flex flex-wrap items-center justify-center gap-2 p-4 pt-0">
        {% for format in formatsCollection %}
          <span
            class="{% randomRotateClassName %} inline-block rounded bg-bujinkan-dark px-2 py-1 text-xs text-white"
            >{{ format }}</span
          >
        {% endfor %}
        <span
          class="{% randomRotateClassName %} inline-block rounded bg-bujinkan-dark px-2 py-1 text-xs text-white"
          >{{ size }}</span
        >
      </div>

      <div
        class="
          grid grid-cols-1
          tracking-wide
          border-t border-gray-300
          p-4
          text-center
          lg:grid-cols-{{formatsCollection | size}} lg:gap-0
        "
      >
        {% for format in formatsCollection %}
        {% capture file %}{% assetImageUrl resource, 100, width, format %}{% endcapture %}
        <a
          href="{{ file }}"
          title="Descargar el recurso"
          class="uppercase transition-colors hover:text-bujinkan-red"
          download
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mx-auto h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"
            />
          </svg>
          {{format}}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
