<section class="mb-12 bg-gray-50 p-4 py-12">
  <header class="mb-10 text-center">
    <h3 class="mb-2 text-4xl text-bujinkan-red sm:text-5xl">
      Código de conducta
    </h3>
    <p class="text-xl">Seguir este código es parte de la Bujinkan</p>
  </header>

  <ul class="container mx-auto flex w-full flex-col gap-4">
    <li
      class="rounded border border-bujinkan-red p-4 text-center text-xl shadow-sm"
    >
      Saber que la paciencia es lo primero.
    </li>
    <li
      class="rounded border border-bujinkan-red p-4 text-center text-xl shadow-sm"
    >
      Saber que el camino del humano viene de la Justicia.
    </li>
    <li
      class="rounded border border-bujinkan-red p-4 text-center text-xl shadow-sm"
    >
      Renunciar a la avaricia, indolencia, y obstinación.
    </li>
    <li
      class="rounded border border-bujinkan-red p-4 text-center text-xl shadow-sm"
    >
      Reconocer la tristeza y la preocupación como naturales, y buscar el
      corazón inmutable.
    </li>
    <li
      class="rounded border border-bujinkan-red p-4 text-center text-xl shadow-sm"
    >
      No apartarse del camino de la lealtad y la armonía. Siempre buscar
      pacientemente profundizar en el corazón del Budo.
    </li>
  </ul>
</section>
