<section class="p-4 pt-12 mb-12">
  <header class="text-center mb-10">
    <h3 class="text-4xl sm:text-5xl text-[#bf0202] mb-2">Sistema de grados</h3>
    <!-- <p class="text-xl"></p> -->
  </header>

  <section>
    <header class="mb-10">
      {% responsiveImage "_assets/img/bujin/kyu.svg", "Bujin de grado Kyu", "mx-auto w-60 rounded-full border border-gray-300", "lazy" %}
      <p class="text-xl text-center mt-4 sr-only">Insignia (Bujin) de grados Kyu, letra y borde blancos.</p>
    </header>

    <div class="flex flex-wrap gap-6 justify-center">
      {% include ui/grade.html
        grade: "10º Kyu",
        text: "Cinturón de color blanco.",
        stars: 0,
        class: "bg-white border-b"
      %}

      {% include ui/grade.html
        grade: "9º Kyu",
        text: "Cinturón de color verde o rojo.",
        stars: 0,
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "8º Kyu",
        text: "Cinturón de color verde o rojo con una estrella plateada bordada encima.",
        stars: 1,
        color: "#c0c0c0",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "7º Kyu",
        text: "Cinturón de color verde o rojo con dos estrellas plateadas bordadas encima.",
        stars: 2,
        color: "#c0c0c0",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "6º Kyu",
        text: "Cinturón de color verde o rojo con tres estrellas plateadas bordadas encima.",
        stars: 3,
        color: "#c0c0c0",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "5º Kyu",
        text: "Cinturón de color verde o rojo con cuatro estrellas plateadas bordadas encima.",
        stars: 4,
        color: "#c0c0c0",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "4º Kyu",
        text: "Cinturón de color verde o rojo con una estrella dorada bordada encima.",
        stars: 1,
        color: "#ffd700",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "3º Kyu",
        text: "Cinturón de color verde o rojo con dos estrellas doradas bordadas encima.",
        stars: 2,
        color: "#ffd700",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "2º Kyu",
        text: "Cinturón de color verde o rojo con res estrellas doradas bordadas encima.",
        stars: 3,
        color: "#ffd700",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}

      {% include ui/grade.html
        grade: "1º Kyu",
        text: "Cinturón de color verde o rojo con cuatro estrellas doradas bordadas encima.",
        stars: 4,
        color: "#ffd700",
        class: "text-white",
        style: "background: linear-gradient(90deg, rgba(4,120,87,1) 0%, rgba(4,120,87,1) 50%, rgba(185,28,28,1) 50%, rgba(185,28,28,1) 100%);"
      %}
    </div>
  </section>

  <section class="mt-12">
    <header class="mb-10">
      {% responsiveImage "_assets/img/bujin/dan.svg", "Bujin de grado Dan", "mx-auto w-60 rounded-full", "lazy" %}
      <p class="text-xl text-center mt-4 sr-only">Insignia (Bujin) de grados Dan, letra y borde negros.</p>
    </header>

    <div class="flex flex-wrap gap-6 justify-center">
      {% include ui/grade.html
        grade: "1º Dan",
        text: "Cinturón de color negro.",
        stars: 0,
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "2º Dan",
        text: "Cinturón de color negro con una estrella plateada bordada encima.",
        stars: 1,
        color: "#c0c0c0",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "3º Dan",
        text: "Cinturón de color negro con dos estrellas plateadas bordadas encima.",
        stars: 2,
        color: "#c0c0c0",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "4º Dan",
        text: "Cinturón de color negro con tres estrellas plateadas bordadas encima.",
        stars: 3,
        color: "#c0c0c0",
        class: "bg-[#2d2d2d] text-white"
      %}
    </div>
  </section>

  <section class="mt-12">
    <header class="mb-10">
      {% responsiveImage "_assets/img/bujin/shidoshi.svg", "Bujin de grado Shidoshi", "mx-auto w-60 rounded-full border border-gray-300", "lazy" %}
      <p class="text-xl text-center mt-4 sr-only">Insignia (Bujin) de grados Shidoshi, letra y borde negros ribeteados en plata.</p>
    </header>

    <div class="flex flex-wrap gap-6 justify-center">
      {% include ui/grade.html
        grade: "5º Dan",
        text: "Cinturón de color negro.",
        stars: 0,
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "6º Dan",
        text: "Cinturón de color negro con una estrella dorada bordada encima.",
        stars: 1,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "7º Dan",
        text: "Cinturón de color negro con dos estrellas doradas bordadas encima.",
        stars: 2,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "8º Dan",
        text: "Cinturón de color negro con tres estrellas doradas bordadas encima.",
        stars: 3,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "9º Dan",
        text: "Cinturón de color negro con cuatro estrellas doradas bordadas encima.",
        stars: 4,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}
    </div>
  </section>

  <section class="mt-12">
    <header class="mb-10">
      {% responsiveImage "_assets/img/bujin/shihan.svg", "Bujin de grado Shihan", "mx-auto w-60 rounded-full", "lazy" %}
      <p class="text-xl text-center mt-4 sr-only">Insignia (Bujin) de grados Shidoshi, letra verde y borde azul.</p>
    </header>

    <div class="flex flex-wrap gap-6 justify-center">
      {% include ui/grade.html
        grade: "10º Dan",
        text: "Cinturón de color negro.",
        stars: 0,
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "11º Dan",
        text: "Cinturón de color negro con una estrella dorada bordada encima.",
        stars: 1,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "12º Dan",
        text: "Cinturón de color negro con dos estrellas doradas bordadas encima.",
        stars: 2,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "13º Dan",
        text: "Cinturón de color negro con tres estrellas doradas bordadas encima.",
        stars: 3,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "14º Dan",
        text: "Cinturón de color negro con cuatro estrellas doradas bordadas encima.",
        stars: 4,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}

      {% include ui/grade.html
        grade: "15º Dan",
        text: "Cinturón de color negro con cinco estrellas doradas bordadas encima.",
        stars: 5,
        color: "#ffd700",
        class: "bg-[#2d2d2d] text-white"
      %}
    </div>
  </section>
</section>
