<section
  class="
    flex flex-col
    md:flex-row
    overflow-hidden
    bg-white
    rounded-lg
    shadow-xl
    my-12
    mx-auto
    md:max-w-6xl
  "
>
  <div class="h-full w-auto md:w-64">
    {% responsiveImage "_assets/img/bujinkan-dojo/masaaki-hatsumi-sensei.png", "Hatsumi Sensei", "inset-0 h-full w-full object-cover object-center", "eager" %}
  </div>
  <div class="w-full py-4 px-6 flex flex-col justify-between gap-4">
    <h3 class="font-semibold text-lg leading-tight truncate text-[#bf0202]">
      Masaaki Hatsumi
    </h3>
    <div>
      <p class="mb-2">
        Nacido en Noda (Japón) el 2 de Diciembre de 1931. Practicante de: Kendo,
        Judo, karate Boxeo, etc. con altas graduaciones en todas estas artes
        marciales. A los 26 años comenzó sus entrenamientos con Takamatsu
        Toshitsugu en la región de Iga.
      </p>

      <p>
        Ha fundado la asociación Bujinkan Budo, cuyo Honbu Dojo se encuentra en
        Noda (Chiba-Ken – Japón).
      </p>
    </div>
    <p class="text-sm text-gray-700 uppercase tracking-wide font-semibold mt-2">
      Texto extraído de la página
      <a
        href="https://www.jmcollado.com/bujinkan-dojo-2/bujinkan-dojo/"
        class="underline"
        >Bujinkan Collado Dojo</a
      >
    </p>
  </div>
</section>
