<section
  class="mx-auto flex w-80 max-w-full flex-col overflow-hidden rounded-lg bg-white shadow-xl md:w-full md:flex-row"
>
  <div class="h-full w-auto md:w-64">
    {% assign widths = "320,210" | split: ',' %}
    {% responsiveImage "_assets/img/bujinkan-dojo/masaaki-hatsumi-sensei.png", "Hatsumi Sensei", "inset-0 h-full w-full object-cover object-center", "eager", 95, widths, "(max-width: 768px) 320px, 210px" %}
  </div>
  <div class="flex w-full flex-col justify-start gap-4 py-4 px-6">
    <h3 class="truncate text-lg font-semibold leading-tight text-bujinkan-red">
      Masaaki Hatsumi
    </h3>
    <div>
      <p class="mb-2">
        Nacido en Noda (Japón) el 2 de Diciembre de 1931. Practicante de: Kendo,
        Judo, karate Boxeo, etc. con altas graduaciones en todas estas artes
        marciales. A los 26 años comenzó sus entrenamientos con Takamatsu
        Toshitsugu en la región de Iga.
      </p>

      <p>
        Ha fundado la asociación Bujinkan Budo, cuyo Honbu Dojo se encuentra en
        Noda (Chiba-Ken - Japón).
      </p>
    </div>
    <p class="mt-auto text-sm font-semibold uppercase tracking-wide text-gray-700">
      Texto extraído de la página
      <a
        href="https://www.jmcollado.com/bujinkan-dojo-2/bujinkan-dojo/"
        class="underline"
        >Bujinkan Collado Dojo</a
      >
    </p>
  </div>
</section>
