<section
  class="mx-auto flex w-80 max-w-full flex-col-reverse overflow-hidden rounded-lg bg-white shadow-xl md:w-full md:flex-row"
>
  <div class="flex w-full flex-col justify-start gap-4 py-4 px-6">
    <h2 class="truncate text-lg font-semibold leading-tight text-bujinkan-red">
      Takamatsu Toshitsugu
    </h2>
    <div>
      <p class="mb-2">Nacido el 1º de Marzo de 1888.</p>
      <p class="mb-2">
        Estudió Togakure, Gyokko, Shinden Fudo, Koto, Gyokushin y Kumogakure Ryu
        con su abuelo Toda Shinryuken.
      </p>
      <p class="mb-2">
        Con Ishitani Sensei estudió Kukishinden, Hontai Takagi Yoshin Ryu y
        Gikan Ryu.
      </p>
      <p>Con Mizuta Sensei estudió Takagi Yoshin Ryu.</p>
    </div>
    <p
      class="mt-auto text-sm font-semibold uppercase tracking-wide text-gray-700"
    >
      Texto extraído de la página
      <a
        href="https://www.jmcollado.com/bujinkan-dojo-2/bujinkan-dojo/"
        class="underline"
        >Bujinkan Collado Dojo</a
      >
    </p>
  </div>
  <div class="h-full w-auto md:w-64">
    {% assign widths = "320,210" | split: ',' %}
    {% responsiveImage "_assets/img/bujinkan-dojo/toshitsugu-takamatsu.png", "Toshitsugu Takamatsu", "inset-0 h-full w-full object-cover object-center", "eager", 95, widths, "(max-width: 768px) 320px, 210px" %}
  </div>
</section>
