<section
  class="
    flex flex-col-reverse
    max-w-full
    w-80
    overflow-hidden
    bg-white
    rounded-lg
    shadow-xl
    mx-auto
    md:flex-row md:max-w-6xl md:w-auto
  "
>
  <div class="w-full py-4 px-6 flex flex-col justify-between gap-4">
    <h2 class="font-semibold text-lg leading-tight truncate text-bujinkan-red">
      Takamatsu Toshitsugu
    </h2>
    <div>
      <p class="mb-2">Nacido el 1º de Marzo de 1888.</p>
      <p class="mb-2">
        Estudió Togakure, Gyokko, Shinden Fudo, Koto, Gyokushin y Kumogakure Ryu
        con su abuelo Toda Shinryuken.
      </p>
      <p class="mb-2">
        Con Ishitani Sensei estudió Kukishinden, Hontai Takagi Yoshin Ryu y
        Gikan Ryu.
      </p>
      <p>Con Mizuta Sensei estudió Takagi Yoshin Ryu.</p>
    </div>
    <p class="text-sm text-gray-700 uppercase tracking-wide font-semibold mt-2">
      Texto extraído de la página
      <a
        href="https://www.jmcollado.com/bujinkan-dojo-2/bujinkan-dojo/"
        class="underline"
        >Bujinkan Collado Dojo</a
      >
    </p>
  </div>
  <div class="h-full w-auto md:w-64">
    {% assign widths = "320,210" | split: ',' %}
    {% responsiveImage "_assets/img/bujinkan-dojo/toshitsugu-takamatsu.png", "Toshitsugu Takamatsu", "inset-0 h-full w-full object-cover object-center", "eager", 95, widths, "(max-width: 768px) 320px, 210px" %}
  </div>
</section>
