<footer id="footer" class="bg-gray-200 p-8 border-t-2 border-bujinkan-red">
  <p class="text-center mb-6">
    <a
      href="/en-proceso-de-construccion/"
      title="Estamos trabajando en ello"
      class="underline hover:text-bujinkan-red transition-colors"
      >En proceso de construcción</a
    >
    con 🖤 por un
    <a
      href="https://angelguerra.me"
      title="Ángel Guerra"
      target="_blank"
      rel="noopener"
      >🥷🏼</a
    >
  </p>

  <div class="flex flex-row justify-center items-center gap-6">
    {% comment %}
    Sacado a parciales porque si dejo el código sólo en este archivo, con
    eleventy 1.0.0-beta.3 da error la generación de la segunda imagen.
    Básicamente se hace un lío con los atributos pasados por parámetro.
    {% endcomment %}
    {% include "footer/bcd_logo.html" %}
    {% include "footer/fekm_logo.html" %}
  </div>

  <div class="flex flex-row justify-center items-center gap-6 mt-6">
    <a
      href="/politica-de-cookies/"
      title="Política de No Cookies"
      class="text-sm underline hover:text-bujinkan-red transition-colors"
      >Política de <strong>NO</strong> Cookies</a
    >
  </div>
</footer>
