<footer id="footer" class="bg-gray-200 p-8 border-t-2 border-[#bf0202]">
  <p class="text-center mb-6">
    <a
      href="/en-proceso-de-construccion/"
      title="Estamos trabajando en ello"
      class="underline hover:text-[#bf0202] transition-colors"
      >En proceso de construcción</a
    >
    con 🖤 por un
    <a href="https://angelguerra.me" title="Ángel Guerra" target="_blank"
      >🥷🏼</a
    >
  </p>

  <div class="flex flex-row justify-center items-center gap-6">
    <a
      href="https://www.jmcollado.com/"
      title="Página de la Asociación Nacional de Ninjutsu"
      target="_blank"
      rel="noopener"
    >
      {% responsiveImage "_assets/img/bujinkan-collado-dojo.svg", "Logo de la Bujinkan Collado Dojo", "w-24", "lazy" %}
    </a>
    <a
      href="https://www.fekm.es/"
      title="Paǵina de la Federación Española de Kick Boxing y Muay Thai"
      target="_blank"
      rel="noopener"
    >
      {% responsiveImage "_assets/img/federacion-espanola-kickboxing-muaythai.svg", "Logo de la Federación Española de Kick Boxing y Muay Thai", "w-24", "lazy" %}
      <span class="sr-only"
        >Federación Española de Kick Boxing y Muay Thai</span
      >
    </a>
  </div>

  <div class="flex flex-row justify-center items-center gap-6 mt-6">
    <a href="/politica-de-cookies/" title="Política de No Cookies" class="text-sm underline hover:text-[#bf0202] transition-colors"
      >Política de <strong>NO</strong> Cookies</a
    >
  </div>
</footer>
