<header class="sticky top-0 z-[1000] w-full bg-white p-4 shadow">
  <nav class="mx-auto w-full max-w-6xl">
    <ul class="flex items-center justify-between gap-2 sm:gap-12">
      <li
        class="w-1/3 text-center font-light transition-colors hover:text-bujinkan-red sm:w-auto sm:text-2xl"
      >
        <a href="/" title="Ir a la página principal">
          {% responsiveImage "_assets/img/resources/logo.svg", "Logo de la Bujinkan", "w-16 mx-auto sm:w-24", "eager" %}
          <span class="sr-only">Bujinkan Cantabria</span>
        </a>
      </li>
      <li
        class="w-1/3 text-center font-light transition-colors hover:text-bujinkan-red sm:w-auto sm:text-2xl"
      >
        <a href="/bujinkan-dojo" title="Información sobre la Bujinkan">
          Bujinkan Dojo
        </a>
      </li>
    </ul>
  </nav>
</header>
