<header class="shadow p-4 sticky top-0 w-full bg-white z-[1000]">
  <nav class="w-full max-w-6xl mx-auto">
    <ul class="flex items-center justify-between gap-2 sm:gap-12">
      <li
        class="
          w-1/3
          text-center
          font-light
          sm:w-auto sm:text-2xl
          hover:text-bujinkan-red
          transition-colors
        "
      >
        <a href="/" title="Ir a la página principal">
          {% responsiveImage "_assets/img/resources/logo.svg", "Logo de la Bujinkan", "w-16 mx-auto sm:w-24", "eager" %}
          <span class="sr-only">Bujinkan Cantabria</span>
        </a>
      </li>
      <li
        class="
          w-1/3
          text-center
          font-light
          sm:w-auto sm:text-2xl
          hover:text-bujinkan-red
          transition-colors
        "
      >
        <a href="/bujinkan-dojo" title="Información sobre la Bujinkan">
          Bujinkan Dojo
        </a>
      </li>
    </ul>
  </nav>
</header>
