---
layout: default
title: Recursos gráficos de la asociación
description: Recursos para el diseño de actividades relacionadas con la asociación
robots: noindex
---

<section class="p-4 py-12 mb-12 max-w-6xl mx-auto">
  <header class="text-center mb-10">
    <h1 class="text-4xl sm:text-5xl text-bujinkan-red mb-2">Recursos gráficos</h1>
  </header>

  <h2 class="text-3xl text-center mb-2">Logos</h2>

  {% comment %} Logo de Cuervas-Mons Dojo {% endcomment %}
  <div class="flex flex-wrap items-center justify-center">
    {% include "ui/resource.html"
      resource: "_assets/img/resources/logo.svg",
      thumbnailBgClasses: "bg-gray-50",
      width: 2000,
      title: "Logo",
      formats: "svg, png",
      size: "2000x2000"
    %}
    {% include "ui/resource.html"
      resource: "_assets/img/resources/logo-white.svg",
      thumbnailBgClasses: "bg-bujinkan-dark",
      width: 2000,
      title: "Logo claro",
      formats: "svg, png",
      size: "2000x2000"
    %}
    {% include "ui/resource.html"
      resource: "_assets/img/resources/logo-dark.svg",
      thumbnailBgClasses: "bg-gray-50",
      width: 2000,
      title: "Logo oscuro",
      formats: "svg, png",
      size: "2000x2000"
    %}
  </div>

  {% comment %} Logo de Bujinkan Dojo {% endcomment %}
  <div class="flex flex-wrap items-center justify-center">
    {% include "ui/resource.html"
      resource: "_assets/img/resources/bujinkan-logo.svg",
      thumbnailBgClasses: "bg-gray-50",
      width: 2000,
      title: "Logo Bujinkan",
      formats: "svg, png",
      size: "2000x2000"
    %}
    {% include "ui/resource.html"
      resource: "_assets/img/resources/bujinkan-logo-white.svg",
      thumbnailBgClasses: "bg-bujinkan-dark",
      width: 2000,
      title: "Logo Bujinkan claro",
      formats: "svg, png",
      size: "2000x2000"
    %}
    {% include "ui/resource.html"
      resource: "_assets/img/resources/bujinkan-logo-dark.svg",
      thumbnailBgClasses: "bg-gray-50",
      width: 2000,
      title: "Logo Bujinkan oscuro",
      formats: "svg, png",
      size: "2000x2000"
    %}
  </div>

  {% comment %} Ryuha {% endcomment %}
  <div class="flex flex-wrap items-center justify-center">
    {% include "ui/resource.html"
      resource: "_assets/img/resources/ryuha.svg",
      thumbnailBgClasses: "bg-bujinkan-dark",
      width: 2000,
      title: "Nueve escuelas",
      formats: "svg, png",
      size: "2000x2000"
    %}
    {% include "ui/resource.html"
      resource: "_assets/img/resources/ryuha-dark.svg",
      thumbnailBgClasses: "bg-gray-50",
      width: 2000,
      title: "Nueve escuelas oscuro",
      formats: "svg, png",
      size: "2000x2000"
    %}
  </div>
</section>
