---
layout: default
title: ¿Qué es la Bujinkan?
description: Información sobre los fundadores, las normas, el sistema de grados y otras características relacionadas con la Bujinkan
---

<section class="p-4 py-16 bg-gray-50">
  <header class="text-center mb-20">
    <h2 class="text-4xl sm:text-5xl text-[#bf0202] mb-2">Bujinkan Dojo</h2>
    <p class="text-xl">Ninjutsu Budo Taijutsu</p>
  </header>

  <section class="flex flex-wrap gap-8">
    {% include "bujinkan-dojo/hatsumi.html" %}
    {% include "bujinkan-dojo/takamatsu.html" %}
  </section>
</section>

{% include "bujinkan-dojo/ryuha.html" %}
{% include "bujinkan-dojo/conduct.html" %}
{% include "bujinkan-dojo/grades.html" %}
