{%- capture bg -%}
    {%- if even -%}
        bg-white
    {%- else -%}
        bg-gray-100
    {%- endif -%}
{%- endcapture -%}

<div
  class="h-14 flex justify-between items-center py-1 px-3 before:font-bold before:content-[attr(data-title)] sm:border-b sm:py-2 sm:before:content-none {{bg}}"
  data-title="Actividad"
>
  {{activity}}
</div>
<div
  class="h-14 flex justify-between items-center py-1 px-3 before:font-bold before:content-[attr(data-title)] sm:justify-end sm:border-b sm:py-2 sm:before:content-none {{bg}}"
  data-title="Mes completo"
>
  {{monthly}}
</div>
<div
  class="h-14 flex justify-between items-center border-b pb-4 pt-1 px-3 before:font-bold before:content-[attr(data-title)] sm:justify-end sm:pt-2 sm:pb-2 sm:before:content-none {{bg}}"
  data-title="Medio mes"
>
  {{biweekly}}
</div>
