<div class="mb-8">
  <p class="mb-4 text-xl font-bold xl:text-center">{{dayOfWeek}}</p>
  <ul class="grid grid-cols-1 gap-4 md:grid-cols-3 xl:grid-cols-1">
    {% for activity in scheduleCuervasMons[key] %}
    {% assign activityData = activities | where: "key", activity.activity | first %}
    <li
      class="flex h-20 flex-col items-center justify-center p-4 text-white {{activityData.bg}}"
    >
      <span>{{activity.schedule}}</span>
      <span class="font-bold text-center">{{activityData.name}} {{activity.suffix}}</span>
    </li>
    {% endfor %}
  </ul>
</div>
