<section class="min-h-screen p-4 py-36 bg-gray-50">
  <header class="text-center mb-10">
    <h2 class="text-4xl sm:text-5xl text-[#bf0202] mb-2">Actividades</h2>
    <p class="text-xl">Actividades desempeñadas por la asociación</p>
  </header>

  <div class="flex flex-wrap items-top justify-center gap-6">
    {% for activity in activities %}
    <div
      class="
        w-60
        h-96
        text-center
        shadow
        rounded
        border-2 border-[#bf0202]
        bg-cover bg-center
        relative
      "
      style="background-image: url('{{activity.bg}}');"
    >
      <div
        class="
          flex
          items-center
          justify-center
          flex-col
          h-full
          bg-gray-900 bg-opacity-40
          text-white
        "
      >
        <h3 class="text-4xl">{{activity.name}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
