<section class="min-h-screen bg-gray-50 p-4 py-36">
  <header class="mb-10 text-center">
    <h2 class="mb-2 text-4xl text-bujinkan-red sm:text-5xl">Actividades</h2>
    <p class="text-xl">Actividades desempeñadas por la asociación</p>
  </header>

  <div class="items-top flex flex-wrap justify-center gap-6">
    {% for activity in activities %}
    <div
      class="relative h-96 w-60 rounded border-2 border-bujinkan-red bg-cover bg-center text-center shadow"
      style="background-image: url('{{activity.bg}}');"
    >
      <div
        class="flex h-full flex-col items-center justify-center bg-bujinkan-dark bg-opacity-40 text-white"
      >
        <h3 class="text-4xl">{{activity.name}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
