<section class="p-4 py-36 border-t border-b border-[#bf0202]">
  <header class="text-center mb-10">
    <h2 class="text-4xl sm:text-5xl text-[#bf0202] mb-2">Instructores</h2>
    <!-- <p class="text-xl"></p> -->
  </header>

  <div class="flex flex-wrap items-center justify-center">
    {% for instructor in instructors %}
      {% capture avatar %}{% assetImageUrl instructor.bg, 100, 640 %}{% endcapture %}
    <div class="flex p-4 w-full md:w-1/2 2xl:w-1/3 max-w-2xl">
      <div class="bg-white rounded shadow flex flex-col overflow-hidden w-full">
        <div
          class="
            bg-center bg-no-repeat bg-contain bg-gray-50
            rounded-t
            filter
            contrast-75
            aspect-w-16 aspect-h-9
          "
          style="background-image: url({{avatar}})"
        ></div>
        <div class="flex flex-auto flex-col">
          <h3
            class="
              text-xl
              font-light
              tracking-wider
              uppercase
              mb-4
              p-4
              text-center
            "
          >
            {{instructor.name}}
            <small class="block">{{instructor.grade}}</small>
          </h3>

          <div class="flex flex-wrap gap-2 p-4 pt-0 items-center justify-center">
            {% for activity in instructor.activities %}
            <span class="inline-block rounded text-white bg-[#2d2d2d] px-2 py-1 text-xs {% randomRotateClassName %}">{{activity}}</span>
            {% endfor %}
          </div>

          <div
            class="
              grid grid-cols-1
              gap-4
              tracking-wide
              border-t border-gray-300
              p-4
              text-center
              xl:grid-cols-2 xl:gap-0
            "
          >
            <span
              class="
                border-b
                pb-4
                border-gray-300
                xl:pb-0 xl:border-r xl:border-b-0
              "
              title="Escribir a {{instructor.name}}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mx-auto mb-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
              </svg>
              <span
                class="plain-email"
                data-domain="{{instructor.email.domain}}"
                data-user="{{instructor.email.user}}"
              ></span>
            </span>
            <a
              href="tel:+34{{instructor.phone}}"
              title="Llamar a {{instructor.name}}"
              class="transition-colors hover:text-[#bf0202]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mx-auto mb-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                />
              </svg>
              {{instructor.phone}}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
