<section class="border-t border-b border-bujinkan-red p-4 py-36">
  <header class="mb-10 text-center">
    <h2 class="mb-2 text-4xl text-bujinkan-red sm:text-5xl">Instructores</h2>
  </header>

  <div class="flex flex-wrap items-center justify-center">
    {% for instructor in instructors %}
    {% capture avatar %}{% assetImageUrl instructor.bg, 100, 640 %}{% endcapture %}
    <div class="flex w-full max-w-2xl p-4 md:w-1/2 2xl:w-1/3">
      <div class="flex w-full flex-col overflow-hidden rounded bg-white shadow">
        <div
          class="aspect-w-16 aspect-h-9 rounded-t bg-gray-50 bg-contain bg-center bg-no-repeat contrast-75 filter"
          style="background-image: url({{avatar}})"
        ></div>
        <div class="flex flex-auto flex-col">
          <h3
            class="mb-4 p-4 text-center text-xl font-light uppercase tracking-wider"
          >
            {{instructor.name}}
            <small class="block">{{instructor.grade}}</small>
          </h3>

          <div
            class="flex flex-wrap items-center justify-center gap-2 p-4 pt-0"
          >
            {% for activity in instructor.activities %}
            <span
              class="{% randomRotateClassName %} inline-block rounded bg-bujinkan-dark px-2 py-1 text-xs text-white"
              >{{activity}}</span
            >
            {% endfor %}
          </div>

          <div
          class="flex flex-col flex-wrap gap-4 border-t border-gray-300 p-4 text-center tracking-wide xl:flex-row xl:flex-nowrap xl:gap-0"
          >
            {% if instructor.phone %}
              <a
                href="tel:{{instructor.phone.number}}"
                title="Llamar a {{instructor.name}}"
                class="flex items-center justify-center gap-1 grow transition-colors hover:text-bujinkan-red"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline-block h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  />
                </svg>
                {{instructor.phone.label}}
              </a>
            {% else %}
              <span class="grow">&nbsp;</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
