{% capture bgryuha %}{% assetImageUrl "_assets/img/resources/ryuha.svg", 100, 680 %}{% endcapture %}
<style>
  section#home {
    background-position-y: top;
    background-image: url("{{bgryuha}}");
  }
</style>

<section
  id="home"
  class="flex min-h-screen items-center justify-center bg-bujinkan-dark bg-contain bg-no-repeat p-4 text-white sm:bg-auto sm:bg-center xl:bg-right"
>
  <div class="flex h-full items-center justify-center xl:pr-[700px]">
    <section
      class="rounded border bg-white bg-opacity-95 p-6 text-bujinkan-dark shadow"
    >
      <header class="mb-4">
        <h1 class="mb-2 text-4xl text-bujinkan-red sm:text-5xl">
          Bujinkan Cantabria
        </h1>
        <p class="text-xl">Ninjutsu Budo Taijutsu</p>
      </header>

      <address>
        Honbu dōjō:
        <a
          href="/dojos/gimnasio-cuervas-mons/"
          title="Ubicación en Google Maps"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
          >Gimnasio Cuervas-Mons</a
        ><br />
        El Ferial, 3<br />
        39620 Sarón, Cantabria<br />
        <a href="tel:+34646785364" title="Teléfono de Fernando Cuervas-Mons"
          >646785364</a
        >
      </address>
    </section>
  </div>
</section>
